/*----------------Estilo Usuarios----------------*/

#btn_guardar
{
	float: left;	
	margin-top: 100px;
}

.ancho_campos{	width: 370px !important;	}

.fileinput-button {
			position: relative;
			overflow: hidden;
		}
		.fileinput-button input {
		
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			opacity: 0;
			-ms-filter: 'alpha(opacity=0)';
			font-size: 200px;
			direction: ltr;
			cursor: pointer;
		}

		/* Fixes for IE < 8 */
		@media screen\9 {
			.fileinput-button input {
				filter: alpha(opacity=0);
				font-size: 100%;
				height: 100%;
			}
		}

/*------Estilos Perfiles--------------------------*/

#contenido_nuevoperfil{   width: 700px; font-family: 'Philosopher', sans-serif;}

.cheka * 
{	
	text-align: left;
	display: block;
}




#btnes{	float: left;	}

.flecha_abajo{	float: right !important;	}

#perfil_nuevo
{
	float: right;
	margin-top:10px; 
}

 /* ----------------Estilos de Permisos----------------------   */
		
.linea_x{	width: 400px !important;	}

.panel-body span{
	padding: 5px;
	opacity: 1;
}
				
/*---------estilos de catalogo de empleados--------*/

.titulo{
display: inline-block;

}
#nuevo_empleado{

	float: right;
	margin-top:15px; 
}

.titulo_empleados{	color: #0492e6;	}

.contenedor_empleado{	width: auto !important;	}

.ancho_campos2
{
	width:350px !important;
	display: inline-block; 
}

    
.campos_edicion {
	display: inline-block;
	float: left;
	margin-right: 27px;
	width: 368px !important;
}
	
/*-------------Catalogo ROLES---------*/

#busqueda_icono
{
	float: right;	
	margin-top: -25px;
}

.valor{ 

  width: 250px;
  height: 32px;
  font-size: 14px;
  font-family: Arial;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ocultoR{	display: none;	}
.visibleR{	display: block;	}

.ocultarform{	display: none;	}
.mostrarform{	display: block;	
	 /*style="visibility:hidden; height:5px;"*/
}

/*------------------Consulta Clientes.............*/ 

.img_usuario{

	width: 120px !important;
	height: 120px !important;
}

.input_margen{	margin-top: -5px;	}

.user-wrapper {
	
	background: #ffffff;
	margin: 10px 0px;
	padding: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;	
	border: 1px solid #bbb;
	box-shadow: inset 0 1px 0 #fff, inset 0 0 40px rgba(0,0,0,0.05), 0 0 6px rgba(0,0,0,0.1);
	text-align: center;
	width: 100%;
}

	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;*/

.destroyb
{ 
	background: #5FC7CD;
	color:black;
}
.upb
{ 
	background: #5FC7CD;
	color: black;
}

img{
	border: 2px solid #ccc;
	padding: 3px;
}


 #togglee, #togglen, #toggle{
 	
	width: 260px;
	background-color: #0492e6;
	border-radius:4px; 
	border-bottom: 2px solid #0492e6;
	/*margin: 10px auto;*/
	margin: 10px;
	float: left;
	position: relative;
  }

.tohead
{
/*	color: #fff;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
	cursor: pointer;
	position: relative;*/
	color: #fff;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
	cursor: pointer;
	position: relative;
}

.tohead:hover
{
	background-color: #006AD5;
	border-radius:4px; 
}

.conf{
/*	width: 240px;
	border-radius:0px;
	padding: 10px;
	display: none;*/

	border-radius: 0px;
	padding: 10px;
	display: none;
	position: absolute;
	width: 100%;
	z-index: 5;
}

  #modulos a{
  	font-size: 14px!important;
  	padding: 10px 8px!important;

  }

  /* Define la altura del modal donde salen los submodulos para asignar permisos*/
  .heightm{
  	height: 270px;
  	padding: 20px;
  }

.posiciontab
{
	margin-top: 5%;
	width: 100%;
	border: 1px solid #eee;
	border-radius: 4px;
}

.tohead i{
	right: 10px;
	position: absolute;
	color: #FFFEFE;
	margin-top: 4px;
	transition:.7s;
}
.rotate{
	transform: rotate(-180deg);
}
.tohead span{
	margin-left: 10px;
}

/*--- Empleados ---*/
.editinfo{
	display: none;
	position: relative;
}
.editinfo label{
	position: absolute;
	left: 0px;
}
.editinfo input[type="text"]{
	position: absolute;
	right: 0px;
}
/* Alert de notificación en el modulo de perfiles */
.alertify-inner
{
	text-align: center;	
	font-weight: bold;
}
.alertify-inner .error{
color:FireBrick;
}

.alertify-inner .exito{
	color:#1A641A;
	opacity: 1;
}

input[type=checkbox], .pchek{
	cursor: pointer;
	margin-right: 15px;
}
/* Encierra a cada check de los permisos de cada submodulo*/
.pchek{
width: 100%;
padding: 0% 5%;
text-align: justify;
display: inline-block;
}

.pchek:hover{
	background: rgba(242, 16, 67, 0.76);
	color: #fff;
}

/* Estilos del check seleccionar todos */
.todos{
font-size: 16px;
padding: 2% 4%;
background: rgb(239, 239, 239);
margin: 0px -3%;
cursor: pointer;
}
.modal-header{
	background: rgb(239, 239, 239);
	border-radius: 4px 4px 0px 0px;
}

/* foto del usuario */
#direction{
	margin-top: 10px; 
	margin-left:40px; 
	border-radius:10px;	
}
