#txtarea{
width:400px;
height: 83px;
}
.input__ {
float:left;
display: inline-block;
margin-right: 100px;
}
#btn_agregar{
margin-left: 323px;
margin-top: -26px;
}

#inputBusquedaI, #inputBusquedaC{
width: 320px;
}

.dato_contacto{
float: left;
display:inline;
margin-right: 100px;
}

.input-group{
	width: 400px;
}

.input-group input,.input-group select {
	margin-top: 0px;
}

.otroArchivo button, .otroTelefono button, .eliminarCopia button{
	border-radius: 0px 4px 4px 0px;
	margin-left: -1px;
}

.dato_contacto .btn-group input{
	border-right: 0px;
}
.input_info .btn-group-justified{
	width: 400px;
}
.input_info{
	display: inline-block;
	padding-right: 100px;
	float: left;
}
/*----------Css tabla de cosulta---*/
.contenedor_principal_modulos #tbla_cliente{
		width: 100%;
		webkit-transition: 0.2s;
	}

#tbla_cliente input{
		width: 100%;
		margin: 0px;
	}
.fade input#nombreComercial {
	width: 320px;
}
.fade #nombreComercial {
	margin-top: -20px !important;
}
#tbla_cliente tr{
		&:hover{
			.icon-operaciones span{
				opacity: 1;
			}
		};
	}
#tbla_cliente .td_tablaPricipal {
	padding: 0px 5px 0px 5px;
	/*text-align: left;*/
}

<<<<<<< HEAD
#tbla_cliente table tr .atributo, .tbla_contacto tr .atributo{
=======
#tbla_cliente table tr .atributo, 
.tbla_contacto tr .atributo {
	/*top: 0px;*/
>>>>>>> 08a3540db2a8b3d273337b6e106f8272b8a3129b
	text-align: left !important;
	width: 170px !important;	
	vertical-align: text-top !important;
	color: #428bca !important;
}

.icon-operaciones span{
		font-size: 15px;
		padding: 5px;
		opacity: 1;
	}
.panel-body span{
	padding: 0px;
	opacity: 1;
}
.icon-operaciones span:hover{
		background: #0494E8;
		border-radius: 3px;
		cursor: pointer;
		color: white;
	}

.eliminar_cliente{
	display: inline-block;

}

.icon-operaciones .icon-trash:hover{ //ES EL ICONO DE ELIMINAR CLIENTE
		
		background: red;
		border-radius: 3px;
		cursor: pointer;
		color: white;
}

#posicion_infotd td {
	/*text-align: justify !important;*/
	vertical-align: middle !important;
}

.copia {
	margin-bottom: 15px !important;
}


.busqueda{

    float:right;
    margin-top: -23px !important;
    margin-right: 8px !important;
}
/*----------------Css efecto ver info clientes-----*/
.img-rounded {
	border: 1px solid #CCC;
}
.telefonosCliente{
	height: 35px;
}
	.div_telefono,
	.div_tipoTelefono {
		display: inline-block;
	}
	#telefonos .divTelefono {
		/*border-bottom: 1px solid #d6d6d6;*/
		padding-left: 10px;
		margin-bottom: 10px;
		margin-left: -10px;
	}
.div_tipoTelefono {
	margin: 0px;
	width: 100px;
}
/*------TABLA DE CONSULTAS--------------*/
	.spin{
		width: 15px;
		height: 15px;
		background-image: url(http://crmqualium.com/img/ajax-loader.gif);
		background-size: 100% 100%;
	}
	#div_fullHeight {
		margin: 40px 0px 40px 0px !important;
		padding: 0px 40px 0px 0px !important;
		position: absolute !important;
		bottom: 40px !important;
		top: 180px !important;
	}
	#div_fullHeight #posicion_infotd {
		height: 100% !important;
	}
	#div_fullHeight .wrapper {
		height: 100% !important;
		overflow: auto !important;
	}
	#eliminarVarios {
		margin-top: 15px !important;
	}
#cerrar_consulta{
	cursor: pointer;
	margin-top: -30px;
}
.modal-footer{
	text-align: justify;
}

#contenido_cliente{
	width:600px;
	/*height:550px;*/
}

#color_hr{
	background-color: #BFDFFF; 
	margin-top:25px;


}

.logo_empresa{
	width: 40px;
	height: 40px;
	border:1px solid #ddd;
	-webkit-border-radius: 4px;
	 border-radius: 4px;
	-webkit-box-shadow: 1px 1px 3px #888888;
	 box-shadow: 1px 1px 3px #888888;
}
#logo_empresa_info {
	
	display: inline-block;
	width: 150px;
	height: 150px;
	border:1px solid #ddd;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 3px #888888;
	box-shadow: 1px 1px 3px #888888;
}
.info_cliente1 
{	 
	display: inline-block;
	margin: 25px 15px 15px 15px;	 
	position: absolute;
}

#info_cliente2{
	margin-top: 8px;
	margin-left: 20px;
}

#icon-operaciones2{
	
	display: inline-block;
	right: 15px;
	margin-top: 78px;
	position: absolute;
	z-index: 1;
}
#icon-operaciones2 button label:hover{
	background: inherit;
	cursor: pointer;
}
#icon-operacionesContacto{
	
	display: inline-block;
	right: 15px;
	margin-top: 35px;
	position: absolute;
	z-index: 1;
}
#icon-operacionesContacto label:hover{
	background: inherit;
	cursor: pointer;

}
.contenedorContacto{
	margin-right: 50px;
}

.trCliente, .trContacto{
	height: 51px;
}

/*------------Menu de herramientas-------
*/


@colorPrimario-Menu: #333333;
@colorElementoDeMenuHover:  darken(@colorPrimario-Menu, -10%);
@colorTextoMenu: #AAA;

#menu2{
	background: @colorPrimario-Menu;
	height:550px;
	width:40px;
	float: left;
	margin-left: -16px;
	margin-top:-15px; 
    padding: 0px 5px 0px 5px;	
}
#menu2-lista{
	padding: 0px 5px 0px 5px;
}
#menu2-lista li{
	border-bottom: 1px solid @colorElementoDeMenuHover;
	line-height: 104px;
}
#menu2-lista li a{
	position: absolute;
}
#menu2-lista li:hover{
	background: @colorElementoDeMenuHover;
	margin: -1px -10px 0px -10px;
	padding: 1px 10px 0px 10px;
	border-bottom: 1px solid @colorElementoDeMenuHover;
}


.icono2{
	color: @colorTextoMenu;
	cursor: pointer;
	padding-right: 10px;
	font-size: 20px;
}

.visible{
	visibility: visible;
	opacity: 1;
	transition:visibility .45s, opacity .45s;
}
.oculto {
	visibility: hidden;
	opacity: 0;
	height: 0px;
	
	transition:visibility .6s, opacity .6s, height .6s;
	z-index: 5;
}

.editar{
	display: none;
}
.editando{
	display: inline;
}

.foto{
	width: 40px;
	height: 40px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
}

/*estilos de la ficha de información del cliente*/
.exito{
	-webkit-animation:efectoOpacidad 3s;
	color: green;
	opacity:.4;

}
.error{
	-webkit-animation:efectoOpacidad 3s;
	color: red;
	opacity:.4;

}

@-webkit-keyframes efectoOpacidad
{
0%   {opacity:1;}
50%   {opacity:1;}
100% {opacity:.4;}
}


/*estilo modal correo */

#destinatario{
float: left;
margin-left: -10px;
display: inline-block;
}

#asunto{
float: left;
margin-left: -10px;
display: inline-block;
}

.lbl_correo{

	outline: 0;
    margin-left: 7px !important;
    width: 90% !important;
    border: none;
}

.division{

	margin-left: -19px; 
	width:595px; 
	border-top: 0px;
	margin-top: 8px;	
}

#txt_area{
    
    border: none;
	margin: -10px 0px -30px -10px;
	width: 580px;
	height: 250px;
	outline: 0;
}

