.btn-group	{
	z-index: 0 !important;
	 margin-top: -5px;
}
.thead_visible {/* */}

.thead_oculto {

	display: none;
}

.tbody_oculto {

	display: none;
}

/*.input_largo{	width: 100%!important;	}*/
/*.input_renta, .bloqueado{	width: 35%!important;	}*/

/*---------------------------------------*/
/*---------tabla de servicios------------*/
/*---------------------------------------*/
	.div_table_overflow {
		/*margin-top: 0px;*/
	}

.icon_detalles{

	float: right;
	margin-top: 5px;
}
/*.inputs_planIguala{	width: 100%;	}*/

/*.inputs_planEvento	{	width: 100%;	}*/

/*#span_buscar{
	float:right;
	margin-top: -38px;
	margin-right:10px; 
	
}*/
.selectize-control {
	margin: 15px 0px;
}

.color_cabecera  { background-color: #f9f9f9;  color: #333;	}

.datos_primarios{	
	display:inline-block;
	float: left;
	margin-right: 90px !important;
	width: 400px;
}

#tipo_plan{

	float: left;
	width: 600px;

}

#div_info{

    display: none;
	height: 125px;
}

#tabla_servicios{     width: 100%!important;	}

#tabla_contrato {	width: 100%;	}

.input_precio {
	width: 78px;
	height: 20px;
	margin-top: 1px;
}

.input_descuento {
	width: 50px;
	height: 20px;
}

.txt{

	text-align: center;
}


/*--------Historial de contratos------------------*/






