.iconos-operaciones-contacto span {
	padding: 5px;
	border-radius: 3px;
}

.iconos-operaciones-contacto span:hover {
	background: #d7d7d7;
	cursor: pointer;
}

#comentarioCliente{
	width: 900px;
}



/*-------EFECTO EN CAMBIO DE FORMULARIO---------*/
.visibleR{
	visibility: visible;
	transition: transform 1s;
	/*background: red;*/
	position: absolute;
}
.ocultoR {
	visibility: hidden;
	/*opacity: 0;*/
	transform: translateX(-2000px);
	/*transition: transform .5s;*/
	position: absolute;
	/*background: red;*/
}
/*-------EFECTO EN CAMBIO DE FORMULARIO---------*/


.menusServicios{
	float: left;
}
.list-group-item-info{
	background: #0494e8;
	color: #FFF;
}
.list-group{
	width: 400px;
}
.icon-uniF470{
	cursor: pointer;
}
#span_cliente{
	color: #000;
}

#h1_nombreCliente{
	color: gray;
}


#listaContactosCliente{
	margin-bottom: 46px;
	width: 400px;
}
#listaContactosCliente h3{
	float: left;
	/*margin-bottom: -10px;*/
}
#listaContactosCliente button{
	float: right;
	/*bottom: 0px;*/
}
#contactosLista h4{
	float: left;
}
#contactosLista .iconos-operaciones-contacto{
	float: right;
	padding: 9px;
}
/*.contactoEnLista{
	display: block;
}*/