<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		
		<script type="text/javascript" src="<?=base_url().'js/jquery.js'?>"></script>

		<script src="<?=base_url().'js/prefixfree.min.js'?>"></script>

		<script src="<?=base_url().'js/menu_jquery.js'?>"></script>
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"> -->
		<!-- </script> -->
		
	    <!-- <script src="js/jquery-1.10.2.js"></script> -->
	    <!-- <script src="js/jquery-ui-1.10.4.custom.js"></script> -->
		
		
		

		 <!-- <script src='js/menu_jquery.js'></script> -->
		 <!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
	
    <!-- JQuery UI -->
    	<script type="text/javascript" src="<?=base_url().'js/jquery-ui-1.10.4.custom.js'?>"></script>
	<!--Bootstrap-->
		<link rel="stylesheet" type="text/css" href="<?=base_url().'css/bootstrap-3.1.1-dist/css/bootstrap.min.css'?>">
		<link rel="stylesheet" type="text/css" href="<?=base_url().'css/bootstrap-3.1.1-dist/css/bootstrap-theme.css'?>">
		<link rel="stylesheet" type="text/css" href="<?=base_url().'css/bootstrap-3.1.1-dist/js/bootstrap.min.js'?>">
		<script type="text/javascript" src="<?=base_url().'css/bootstrap-3.1.1-dist/js/dropdown.js'?>"></script>
		<script type="text/javascript" src="<?=base_url().'css/bootstrap-3.1.1-dist/js/tab.js'?>"></script>
		<script type="text/javascript" src="<?=base_url().'css/bootstrap-3.1.1-dist/js/button.js'?>"></script>
		<script type="text/javascript" src="<?=base_url().'css/bootstrap-3.1.1-dist/js/modal.js'?>"></script>
		<script type="text/javascript" src="<?=base_url().'css/bootstrap-3.1.1-dist/js/tooltip.js'?>"></script>
		<script type="text/javascript" src="<?=base_url().'css/bootstrap-3.1.1-dist/js/alert.js'?>"></script>
    <!--Bootstrap-->

	<!--Iconos-->
		<link rel="stylesheet" href="<?=base_url().'css/style.css'?>">
	<!--Iconos-->
	<!-- Css -->
		<link rel="stylesheet" href="<?=base_url().'css/style_menuServicios.css'?>" type="text/css">
		<link rel="stylesheet" href="<?=base_url().'css/jquery-ui-1.10.4.custom.css'?>">


	<!--Less-->
		<link rel="stylesheet/less" href="<?=base_url().'css/estilos_menu_cabecera.less'?>">
		<link rel="stylesheet/less" href="<?=base_url().'css/estilos_modulo_cotizaciones.less'?>">
		<link rel="stylesheet/less" href="<?=base_url().'css/estilos_modulo_clientes.less'?>">
		<link rel="stylesheet/less" href="<?=base_url().'css/estilo_general.less'?>">
		
		<script type="text/javascript" src="<?=base_url().'js/less.js'?>"></script>
	<!--Less-->
	

	<script type="text/javascript">
		$(document).on('ready',function(){
			$('#tab_pagos a').click(function (e) {
			  e.preventDefault()
			  $(this).tab('show');
			});
		});
	</script>
	<title></title>
</head>
<body id="cuerpo">
</body>
</html>
