<html>
<head>
    <title>Contrato</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
</head>

<body>    

    <div style="width: 612px; height: 792px; margin-left: auto; margin-right: auto;">
    <h3 style="text-align: center;"><font face="Tahoma"><b>Contrato de prestación de servicios</b></font></h3>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt; margin-top: -20"><span
    style='font-family:"Tahoma","sans-serif"'><br>
    Entre <b><u>Qualium Publicidad y Marketing
    SCP.</u> ,</b> con domicilio principal en la ciudad de Mérida, Yucatán, quien en adelante se denominará CONTRATISTA, identificado como aparece al pie de su
    firma y por otra parte <b><u>Colegio de Negocios Internacionales</u></b> , quien se identifica como aparece al pie de su
    firma y en adelante se denominará CONTRATANTE, hemos convenido en celebrar un
    contrato de prestación de servicios profesionales que se regulará por las
    cláusulas que a continuación se expresan y en general por las disposiciones del
    Código Civil y Código de Comercio aplicables a la materia de que trata este
    contrato:</span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><b><span  style='font-family:"Tahoma","sans-serif"'>Primera</span></b><span style='font-family:"Tahoma","sans-serif"'>. Objeto. El CONTRATISTA,de manera independiente, sin subordinación o dependencia, utilizando sus propios medios, elementos de trabajo, personal a su cargo, prestará el servicio de <b><u>Desarrollo de Página Web</u></b> que incluirán lo presentado en la cotización.<u></u></span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt" ><b><span  style='font-family:"Tahoma","sans-serif"'>Segunda</span></b><span
    style='font-family:"Tahoma","sans-serif"'>. Término del Contrato.
    Este Contrato de Prestación de Servicios se extenderá por un periodo de <u><span></span><span></span><b>3 meses ( Junio de 2014 <span></span>a Agosto de 2014).</b></u></span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><b><span  style='font-family:"Tahoma","sans-serif"'>Tercero</span></b><span
     style='font-family:"Tahoma","sans-serif"'>. Honorarios. – El
    CONTRATANTE pagará al CONTRATISTA por concepto de honorarios <u><span
    > </span><b>cuatro mil
    pesos</b></u><b> ($4<span style='color:
    black'>,000.00</span>) mensuales.</b></span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><b><span  style='font-family:"Tahoma","sans-serif"'>Cuarta</span></b><span
     style='font-family:"Tahoma","sans-serif"'>. Prorroga. Si vencido el
    plazo establecido para la ejecución del contrato de prestación de servicios el
    CONTRATANTE decide ampliar el plazo de vencimiento, se suscribirá minuta
    suscrita por las partes, que hará parte integral de este contrato. </span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><b><span  style='font-family:"Tahoma","sans-serif"'>Quinta</span></b><span
     style='font-family:"Tahoma","sans-serif"'>. Nuevo servicio. Si
    finalizado el objeto del servicio contratado, el CONTRATANTE necesita un nuevo
    servicio del CONTRATISTA, se deberá hacer un nuevo Contrato de Prestación de
    Servicios y no se entenderá como prorroga por desaparecer las causas
    contractuales que dieron origen a este contrato.</span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><b><span  style='font-family:"Tahoma","sans-serif"'>Sexta</span></b><span
     style='font-family:"Tahoma","sans-serif"'>. Obligaciones del CONTRATISTA.
    Son<span >  </span>obligaciones del CONTRATISTA: 1.
    Obrar con seriedad y diligencia en el servicio contratado, 2. Realizar informes
    quincenales hasta el término de las páginas web. 3. Atender las solicitudes y
    recomendaciones que haga el CONTRATANTE o sus delegados, con la mayor
    prontitud. 4. Proveer al CONTRATANTE o un delegado información pertinente para
    el desarrollo del proyecto. </span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><b><span  style='font-family:"Tahoma","sans-serif"'>Séptima</span></b><span
     style='font-family:"Tahoma","sans-serif"'>. Obligaciones del CONTRATANTE.
    Son obligaciones del CONTRATANTE:1. Cancelar los honorarios fijados al
    CONTRATISTA, según la forma que se pacto dentro del término debido. 2. Entregar
    toda la información que solicite el CONTRATISTA para poder desarrollar con
    normalidad su labor independiente.</span></p>   

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><b><span  style='font-family:"Tahoma","sans-serif"'>Octava</span></b><span
     style='font-family:"Tahoma","sans-serif"'>. Terminación anticipada o
    anormal. – Incumplir las obligaciones propias de cada una de las partes, dará
    lugar a la otra para terminar unilateralmente el Contrato de Prestación de
    Servicio. </span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><b><span  style='font-family:"Tahoma","sans-serif"'>Novena</span></b><span
     style='font-family:"Tahoma","sans-serif"'>. Terminación del contrato.
    – El contrato se dará como finalizado al término del pago de las meses
    pactados.</span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><span 
    style='font-family:"Tahoma","sans-serif"'>En todo caso, este contrato presta
    mérito ejecutivo por ser una obligación clara, expresa y exigible para ambas
    partes.</span></p>

    <p style="text-align:justify;line-height: 2em; font-size: 12pt"><span 
    style='font-family:"Tahoma","sans-serif"'>Este Contrato de Prestación de
    Servicios se firma en dos ejemplares para las partes en Mérida, Yucatán a los (03)
    días del mes de Junio del año <u>2014</u>.<br>

</div>
</body>

</html>
