<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../css/estilos.css">
	<link rel="stylesheet" href="../../css/style.css">
	<style type="text/css">
		code {
			padding: 2px 4px;
			font-size: 90%;
			color: #c7254e;
			background-color: #f9f2f4;
			white-space: nowrap;
			border-radius: 4px;
		}
	</style>
	<title></title>
</head>
<body>
	<table>
		<tr class="icono">
			<td><span class=" icon-refresh"></span></td>
			<td>Recargar</td>
			<td><code>&lt;span class=" icon-refresh"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF7D5"></span></td>
			<td>Descargar</td>
			<td><code>&lt;span class="icon-uniF7D5"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF78D"></span></td>
			<td>Facebook</td>
			<td><code>&lt;span class="icon-uniF78D"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF78C"></span></td>
			<td>Twitter</td>
			<td><code>&lt;span class="icon-uniF78C"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF78B"></span></td>
			<td>Google+</td>
			<td><code>&lt;span class="icon-uniF78B"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF77E"></span></td>
			<td>Teléfono</td>
			<td><code>&lt;span class="icon-uniF77E"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF792"></span></td>
			<td>vine</td>
			<td><code>&lt;span class="icon-uniF792"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF73A"></span></td>
			<td>Carpeta</td>
			<td><code>&lt;span class="icon-uniF73A"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF67A"></span></td>
			<td>Alarma</td>
			<td><code>&lt;span class="icon-uniF67A"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF69A"></span></td>
			<td>Botón buscar</td>
			<td><code>&lt;span class="icon-uniF69A"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF69B"></span></td>
			<td>Botón configuración</td>
			<td><code>&lt;span class="icon-uniF69B"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF5E2"></span></td>
			<td>Dolar</td>
			<td><code>&lt;span class="icon-uniF5E2"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF61B"></span></td>
			<td>Escritorio1</td>
			<td><code>&lt;span class="icon-uniF61B"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF784"></span></td>
			<td>Escritorio2</td>
			<td><code>&lt;span class="icon-uniF784"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF5CE"></span></td>
			<td>Usuario</td>
			<td><code>&lt;span class="icon-uniF5CE"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF4E7"></span></td>
			<td>Billete</td>
			<td><code>&lt;span class="icon-uniF4E7"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF54D"></span></td>
			<td>Buscar usuario</td>
			<td><code>&lt;span class="icon-uniF54D"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF54F"></span></td>
			<td>Cliente</td>
			<td><code>&lt;span class="icon-uniF54F"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF55B"></span></td>
			<td>Comenzar</td>
			<td><code>&lt;span class="icon-uniF55B"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF55C"></span></td>
			<td>Parar</td>
			<td><code>&lt;span class="icon-uniF55C"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF55D"></span></td>
			<td>Pausar</td>
			<td><code>&lt;span class="icon-uniF55D"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF580"></span></td>
			<td>Logo</td>
			<td><code>&lt;span class="icon-uniF580"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF470"></span></td>
			<td>Eliminar</td>
			<td><code>&lt;span class="icon-uniF470"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF471"></span></td>
			<td>Checked</td>
			<td><code>&lt;span class="icon-uniF471"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF472"></span></td>
			<td>Izquierda</td>
			<td><code>&lt;span class="icon-uniF472"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF473"></span></td>
			<td>Derecha</td>
			<td><code>&lt;span class="icon-uniF473"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF474"></span></td>
			<td>Arriba</td>
			<td><code>&lt;span class="icon-uniF474"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF475"></span></td>
			<td>Abajo</td>
			<td><code>&lt;span class="icon-uniF475"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF476"></span></td>
			<td>Más</td>
			<td><code>&lt;span class="icon-uniF476"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF477"></span></td>
			<td>Menos</td>
			<td><code>&lt;span class="icon-uniF477"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF478"></span></td>
			<td>Elinimar</td>
			<td><code>&lt;span class="icon-uniF478"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF479"></span></td>
			<td>Checked</td>
			<td><code>&lt;span class="icon-uniF479"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF47C"></span></td>
			<td>Editar</td>
			<td><code>&lt;span class="icon-uniF47C"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-route"></span></td>
			<td>Logo</td>
			<td><code>&lt;span class="icon-route"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-speed"></span></td>
			<td>Escritorio</td>
			<td><code>&lt;span class="icon-speed"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-searchdocument"></span></td>
			<td>Buscar</td>
			<td><code>&lt;span class="icon-searchdocument"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-cupcake"></span></td>
			<td>Cumpleaños</td>
			<td><code>&lt;span class="icon-cupcake"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF006"></span></td>
			<td>Escritorio</td>
			<td><code>&lt;span class="icon-uniF006"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF00F"></span></td>
			<td>Configuración</td>
			<td><code>&lt;span class="icon-uniF00F"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-affiliate"></span></td>
			<td>Asiciado</td>
			<td><code>&lt;span class="icon-affiliate"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-link"></span></td>
			<td>Link</td>
			<td><code>&lt;span class="icon-link"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-email"></span></td>
			<td>Email</td>
			<td><code>&lt;span class="icon-email"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-barchart"></span></td>
			<td>Gráfica</td>
			<td><code>&lt;span class="icon-barchart"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-socialnetworking"></span></td>
			<td>Reunión/Revición</td>
			<td><code>&lt;span class="icon-socialnetworking"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-contact"></span></td>
			<td>Contacto</td>
			<td><code>&lt;span class="icon-contact"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-filter"></span></td>
			<td>Filtro</td>
			<td><code>&lt;span class="icon-filter"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-phpbb"></span></td>
			<td>Clientes</td>
			<td><code>&lt;span class="icon-phpbb"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-calendar2"></span></td>
			<td>Calendario</td>
			<td><code>&lt;span class="icon-calendar2"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-piwigo"></span></td>
			<td>Foto de perfil</td>
			<td><code>&lt;span class="icon-piwigo"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-rawaccesslogs"></span></td>
			<td>Registro</td>
			<td><code>&lt;span class="icon-rawaccesslogs"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-spreadsheet"></span></td>
			<td>hoja de calculo/Factura</td>
			<td><code>&lt;span class="icon-spreadsheet"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-search"></span></td>
			<td>Buscar</td>
			<td><code>&lt;span class="icon-search"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-trash"></span></td>
			<td>Papelera</td>
			<td><code>&lt;span class="icon-trash"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-diskspace2"></span></td>
			<td>Cronograma</td>
			<td><code>&lt;span class="icon-diskspace2"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-edit2"></span></td>
			<td>Registro</td>
			<td><code>&lt;span class="icon-edit2"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-upload"></span></td>
			<td>Subir</td>
			<td><code>&lt;span class="icon-upload"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-print"></span></td>
			<td>Imprimir</td>
			<td><code>&lt;span class="icon-print"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-avatar"></span></td>
			<td>Avatar</td>
			<td><code>&lt;span class="icon-avatar"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-avatar2"></span></td>
			<td>Avatar2</td>
			<td><code>&lt;span class="icon-avatar2"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-linkedin"></span></td>
			<td>Linkedin</td>
			<td><code>&lt;span class="icon-linkedin"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-path"></span></td>
			<td>Path</td>
			<td><code>&lt;span class="icon-path"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-place"></span></td>
			<td>Lugar</td>
			<td><code>&lt;span class="icon-place"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-calculator"></span></td>
			<td>Calculadora</td>
			<td><code>&lt;span class="icon-calculator"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-gift"></span></td>
			<td>Cumpleaño</td>
			<td><code>&lt;span class="icon-gift"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-preview"></span></td>
			<td>Vista previa</td>
			<td><code>&lt;span class="icon-preview"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-officechair"></span></td>
			<td>Oficina</td>
			<td><code>&lt;span class="icon-officechair"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-paperclip"></span></td>
			<td>Adjuntar</td>
			<td><code>&lt;span class="icon-paperclip"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-triangle"></span></td>
			<td>Escuadra</td>
			<td><code>&lt;span class="icon-triangle"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF64E"></span></td>
			<td>Proyectos</td>
			<td><code>&lt;span class="icon-uniF64E"&gt;</code></td>
		</tr>
		<tr class="icono">
			<td><span class="icon-uniF53D"></span></td>
			<td>Proyectos</td>
			<td><code>&lt;span class="icon-uniF53D"&gt;</code></td>
		</tr>
	</table>
	<div class="icono"><span class=""></span></div>
	<div class="icono"><span class=""></span></div>
	<div class="icono"><span class=""></span></div>
	<div class="icono"><span class=""></span></div>
</body>
</html>